/* You can add global styles to this file, and also import other style files */
.center-element {
  text-align: center;
}
.login-button {
  width: 80%;
}
.login-button-google {
  background-color: #d34836;
  color: #fff;
}
.login-button-facebook {
  background-color: #3b5998;
  color: #fff;
}
.login-button-twitter {
  background-color: #00acee;
  color: #fff;
}
.login-button-google:hover {
  background-color: #d34836;
  opacity: 0.9;
  color: #fff;
}
.login-button-facebook:hover {
  background-color: #3b5998;
  opacity: 0.9;
  color: #fff;
}
.login-button-twitter:hover {
  background-color: #00acee;
  opacity: 0.9;
  color: #fff;
}
