<div class="jumbotron text-center">
  <h1>Members Page</h1>
  <button type="button"
   class="btn"
   style="float: right;"
   (click)="gSignOut()">
   <b>Log out</b>
  </button>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 center-element" style="margin-top: 10%;">
      <h4>
        Current User Details
      </h4>

      <div *ngIf="auth.$user | async as user">
        <h5> Hello, {{ user.email }} </h5>
      </div>
      <!-- <button class="btn btn-primary" (click)="getCurrentUser()">Current User</button> -->
      <!-- <button class="btn btn-primary" (click)="getCurrentUser()">Current User</button> -->
    </div>
    <div class="col-sm-6 center-element" style="margin-top: 10%;">
      <h4>
        All User Details
      </h4>
      <!-- <button class="btn btn-primary" (click)="getDataOut()">Get All Users</button>
      <pre>
      </pre> -->
      <div *ngFor="let item of returnedArray">
        {{ item.email }}
      </div>
    </div>
  </div>
</div>
